* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;


}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    column-gap: 50px;
    row-gap: 25px;

}


.item {
    order: 5;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: ghostwhite;
    background-color: ghostwhite;
    padding: 10px;
    width: 300px;
    box-shadow: 1px 1px 20px #d0d0d0;

}

/* Style the content */
.content {
    background-color: whitesmoke;
    padding: 50px;


}

/* .content>form {
    background-color: whitesmoke;
    padding: 50px;
    float: left;


} */

form {
    width: 50%;
}

.low-stock {
    color: red;
    padding-left: 5px;
}




select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;


}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

input[type=submit]:hover {
    background-color: #45a049;
}


body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: rgb(16, 48, 173);

}


/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding: 30px;

}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.img-nav {
    height: 50px;
    float: right;


}



/* Style the footer */
.footer {
    background-color: #FFCC00;
    padding: 30px;
    clear: both;

}