<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
  </style>
  <title>Blockbuster</title>
</head>




<body>

  <div class="topnav">


    <a href="/">Home</a>
    <a href="/films">Film Inventory</a>
    <a href="/films/new">Add Film</a>
    <a href="/production_companies">Production Companies</a>
    <a href="/production_company/new">Add Production Companies</a>
    <div>
      <img class="img-nav" src="/static/images/blockbuster-logo.svg">
    </div>

  </div>

  <div class="content">
    {% block content %}
    {% endblock %}
  </div>

  <div class="footer">
    {% block footer %}
    {% endblock %}
  </div>

</body>

</html>